<script setup lang="ts">
import { onMounted } from 'vue';
import { app } from './script/app';
import { useRouter } from 'vue-router';
onMounted(()=>{
  app.router = useRouter();
  app.router.push("/");
});
</script>

<template>
  <v-layout>
    <router-view></router-view>
    <v-bottom-navigation elevation="0" height="40" grow v-model="app.value.value">
      <v-btn v-for="item in app.tabitem" @click.stop="() => app.onDown(item.page)">
        <v-icon>{{ item.icon }}</v-icon>
        <span class="txt">{{ item.txt }}</span>
      </v-btn>
    </v-bottom-navigation>
  </v-layout>
</template>

<style scoped lang="css">
@import url("./style.css");

.txt {
  font-size: 7px;
}

.v-bottom-navigation {
  position: absolute !important;
}
</style>
