:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light;
  /* color-scheme: dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "PT Sans", Roboto, Montserrat;
}

:root {
  --main: rgb(0, 255, 255);
}

body {
  margin: 0;
}

#app {
  width: 200px;
  height: 200px;
  position: relative;
}

.v-layout{
  height: calc(100% - 40px);
  /* background-color: blueviolet; */
}