<script setup lang="ts">
import { onMounted } from 'vue';
import { useRouter } from 'vue-router';
const router = useRouter();
onMounted(() => {
    router.push("/")
    //@ts-ignore
    document.title = `${new Date().toLocaleDateString().replaceAll('/','-') } 星期${new Date().getDay()}`
})
</script>

<template>
    <RouterView></RouterView>
</template>