:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --y-border: 1px solid rgb(var(--v-theme-surface));
  --y-title-1: 16px;
  --y1: 2px;
}

html {
  overflow: hidden !important;
}

html,
body {
  margin: 0;
  height: 100vh;
}


#app {}