<template>
    <VApp>
        <YInput></YInput>
        <YBg></YBg>
    </VApp>
</template>
<script lang='ts' setup>
import YInput from "@/components/y-input/index.vue";
import YBg from "@/components/y-bg/index.vue";
// import { useBG } from "@/store/useBG";
</script>
<style scoped></style>