<template>
    <div class="home">
        <VBtn variant="tonal" @mousedown="down">imgs</VBtn>
    </div>
</template>
<script setup lang="ts">
import { onMounted } from 'vue';
function down() {
    chrome.action.setBadgeBackgroundColor({ color: 'rgb(255,255,255)' })
    chrome.action.setBadgeText({ text: 'NO' })
}
onMounted(() => {

})
</script>