<template>
    <div class='y-input d-flex align-center'>
        <YDropMenu></YDropMenu>
        <div class="ipt d-flex align-center">
            <input type="text" v-model="iptval" @keyup.enter="open" />
            <VIcon class="close" size="18" v-show="iptval.length > 0" @click="iptval = ''">mdi mdi-close</VIcon>
        </div>
        <VIcon class="send" @click="open">mdi mdi-send</VIcon>
    </div>
</template>
<script lang='ts' setup>
import YDropMenu from "@/components/y-drop-menu/index.vue";
import { open, iptval } from './script/input';
</script>
<style scoped>
.y-input {
    --w: 35vw;
    position: relative;
    top: 30vh;
    min-width: 300px;
    max-width: 620px;
    border-radius: 30px;
    width: var(--w);
    margin-inline: auto;
    padding: var(--y1);

    .ipt {
        width: 90%;
        height: 40px;
        font-size: var(--y-title-1);
        border: var(--y-border);
        margin-inline: calc(var(--y1));
        display: flex;
        position: relative;

        input {
            flex: 1;
            text-indent: 5px;

            &:focus {
                outline: none;
            }
        }

        .close {
            position: absolute;
            right: calc(var(--y1) * 3);
        }
    }

    .send {
        
    }
}
</style>