<template>
    <div class='y-bg' @click="ondown">
        <VIcon>mdi mdi-wallpaper</VIcon>
    </div>
</template>
<script lang='ts' setup>
import { useBG } from '@/store/useBG';
const bg = useBG();
function ondown() {
    bg.getBg()
}
</script>
<style lang='css' scoped>
.y-bg {
    --xy: 1vw;
    position: fixed;
    right: calc(var(--xy) * 2);
    bottom: var(--xy);
}
</style>