<template>
    <div class='y-drop-menu'>
        <VMenu location="bottom center" :offset="[10]">
            <template v-slot:activator="{ props }">
                <VIcon :icon="icons[0].icon" v-bind="props"></VIcon>
            </template>
            <div class="icons d-flex flex-column">
                <VIcon v-for="iconitem in icons.slice(1)" @click="() => ondown(iconitem)">{{ iconitem.icon }}</VIcon>
            </div>
        </VMenu>
    </div>
</template>
<script lang='ts' setup>
import { icons, ondown } from './script/index';
</script>
<style lang='css' scoped>
.icons {
    i:not(:first-child) {
        margin-top: calc(var(--y1));
    }
}
</style>